.practical-container {
    padding: 25px;
    height: 400px;
    width: 500px;
    margin-bottom: 25px;
}

.practical-displayed-info {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.displayed-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.practical-company {
    display: flex;
    flex-direction: column;
}

.company-name {
    display: flex;
}

.practical-info {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.position {
    font-weight: 700;
    font-size: 18px;
}

.displayed-practical-description {
    opacity: .9;
    margin-top: 15px;
    margin-left: 25px;
    font-style: italic;
    margin-bottom: 15px;
}


.practical-description {
    resize: none;
    height: 70px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
}


.year-container {
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}